@import url(./navbar.css);
@import url(./select.css);
@import url(./sidebar.css);
@import url(./switch.css);
@import url(./eventform.css);
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
:root {
  --background-color: #ffffff;
  --text-gray-color: #7f847d;
  --text-black-color: #1d211c;
  --background-color-light-gray: #eff1ef;
  --background-color-light-green: #e9f6e9;
  --background-color-black: #ffffff;
  --background-color-error: #fcebec;
  --text-error-color: #ce292e;
  --text-active-color: #72d586;
  --img-mode-color: invert(0);
}
/* --background-color: #FFFFFF;
--text-gray-color: #7F847D;
--text-black-color: #1D211C;
--background-color-light-gray: #EFF1EF;
--background-color-light-green: #E9F6E9;
--background-color-black: #FFFFFF;
--background-color-error: #FCEBEC;
--text-error-color: #CE292E;
*/

.light-theme {
  --background-color: #111210;
  --text-gray-color: #7f847d;
  --text-black-color: #ffffff;
  --background-color-light-gray: #212220;
  --background-color-light-green: #1b2b1d;
  --background-color-black: #0d0d0c;
  --background-color-error: #3b1318;
  --text-error-color: #f29592;
  --text-active-color: #72d586;
  --img-mode-color: invert(0);
}
.dark-theme {
  --background-color: #ffffff;
  --text-gray-color: #7f847d;
  --text-black-color: #1d211c;
  --background-color-light-gray: #eff1ef;
  --background-color-light-green: #e9f6e9;
  --background-color-black: #ffffff;
  --background-color-error: #fcebec;
  --text-error-color: #ce292e;
  --text-active-color: #317d37;
  --img-mode-color: invert(10);
}
.main-wrapper {
  display: flex;
  justify-content: start;
  background-color: var(--background-color);
}

.content {
  margin-left: 50px;
  width: 100%;
  /* background-color: green; */
  @media screen and (max-width: 393px) {
    margin-left: 0px;
    padding: 0px 20px;
  }
}

.EventModalWrapper{
  display: flex;
  justify-content: end;
  padding-right: 20px;
  position: absolute;
  right: 0;
}
.EventModal{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--text-gray-color);
  padding: 10px;
  border-radius: 7px;
  width: 480px;
  height: 56px;
  >h1{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-black-color);
    @media screen and (max-width: 393px) {
      font-size: 12px;
    }
  }
  >button{
    background-color: transparent;
    border: none;
    color: var(--text-active-color);
    font-size: 14px;
    font-weight: 500;
    margin-left: 50px;
  }
  >img{
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: 393px) {
    width: 100%;
  }
}